*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font_main);
}

html {
    overflow-x: hidden;
}

.flex{
    display: flex;
}

.border_radius{
    border: 2px solid #E1E1E1;
    border-radius: 5px;
}

/* Banner */
#banner img{
    position: relative;
    height: 304px;
}
#banner .img::before{
    content: " ";
    background-color: var(--color_main);
    width: 99.9%;
    height: 304px;
    position: absolute;
    z-index: 4;
    opacity: 0.87;
}
#banner .text{
    position: absolute;
    z-index: 5;
    height: 304px;
    width: 100vw;
    top: 0;
    left: 0; 
    justify-content: center;
    align-items: center;
}
#banner .text h1{
    font-size: 44px;
    font-family: var(--font1)!important;
    color: #FFF;
    margin: 0 0 25px;
    letter-spacing: 3px;
}
#banner .text a{
    font-size: 18px;
    text-decoration: none;
    cursor:pointer;
    color: #FFF;
}
#banner .text samp{
    font-size: 18px;
    padding: 0 0 0 8px;
    color: #FFF;
}

.bg img{
    width: 100%;
    position: relative;
    margin-top: 40px;
}

/* Introduction */
#form_intro{
    position: absolute;
    width: 100%;
    top: 60%;
}
#intro img{
    width: 76.5%;
    margin: 0 11.75%;
}
#intro .card{
    background-color: #D6EEED;
    width: 76.5%;
    margin: 0 11.75%;
    margin-top: -8px;
    padding: 30px;
    justify-content: space-between;
    position: relative;
}
#intro .card .text h3{
    font-size: 22px;
    color: #17233E;
    margin: 0 0 15px;
}
#intro .card .text p{
    color:#717171;
    font-size: 18px;
}
#intro .line{
    border: 1px solid #A4CECC;
    height: auto;
}
#intro .days,.rating{
    background-color: var(--color_brush);
    padding: 4px 19px;
    color: #FFF;
    font-size: 14px;
}
#intro .rating{
    margin: 0 0 0 17px;
}
#intro .price{
    background-color: var(--color_main);
    color: #FFF;
    font-size: 24px;
    padding: 12px 42px;
    margin: 15px 0 0;
    text-align: center;
    font-weight: 500;
}

#form_intro .intro_main{
    width: 76.5%;
    margin: 0 11.75%;
    margin-top: 80px;
}
#intro_left,
#intro_right{
    padding: 15px;
}
#intro_left{
    min-width: 61.2%;
}
#intro_left h2{
    font-size: 20px;
    color: #666;
    line-height: 52px;
    font-weight: 600;
}
#intro_left i{
    color: var(--color_main);
    font-size: 25px;
}
#intro_left .li{
    margin-bottom: 14px;
}
#intro_left .list{
    margin: 0 25px 15px 0;
}
#intro_left samp{
    font-size: 18px;
    color: #878787;
    margin: 0 15px 0;
    font-weight: 300;
}
#intro_left h3{
    width: max-content;
    font-size: 20px;
    color: #666;
    margin: 0 30px 15px 0;
    font-weight: 600;
}
#intro_left h6{
    font-size: 18px;
    color: #666;
    font-weight: 600;
}
#intro_left span{
    font-size: 12px;
    color: #878787;
}
#intro_left p{
    font-size: 18px;
    color: #878787;
    margin: 0 0 12px;
    font-weight: 300;
}
#intro_left .question{
    margin: 0 0 20px;
}
#intro_left button{
    color: #666;
    font-size: 18px;
    padding: 20px 15px;
    width: 100%;
    justify-content: space-between;
}
#intro_left button>i{
    color: #666;
}
#intro_left .q1,
#intro_left .up{
    color: #FFF;
    background-color: var(--color_main);
}
#intro_left .question p{
    font-size: 16px;
    color: #666;
    padding: 20px;
    background-color: #D6EEED;
}

#intro_left img{
    margin: 0 20px 0 0;
}
#intro_left .name{
    font-size: 18px;
    color: #666;
}
#intro_left .date{
    font-size: 14px;
    color: #878787;
    margin: 0 0 16px;
}
#intro_left .rating_tour>i,
#intro_left .form_rating>.s1{
    color: #F7931E;
    font-size: 18px;
}
#intro_left .cmt{
    font-size: 16px;
    color: #878787;
    margin: 18px 0 30px;
}
#intro_left .form_rating{
    margin-bottom: 30px;
}
#intro_left .form_rating samp{
    color: #8D8E92;
    margin: 20px 10px 0 0;
    font-weight: 400;
}
#intro_left .form_rating>i{
    color: #E1E1E1;
    font-size: 18px;
}

#intro_left .form_contact{
    padding: 30px;
    background-color: #D6EEED;
}
#intro_left .form_contact>input,textarea{
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    color:#8D8E92;
}
#intro_left .form_contact button{
    padding: 15px 25px;
    background-color: var(--color_main);
    font-size: 16px;
    color: #FFF;
    width: max-content;
    font-weight: 800;
}